/*-- scss:defaults --*/

// typeface
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// colours
$white:  #ff6600;  // #fff;
$black:  #ff6600;  // #000;
$primary: #000; // #ff6600;     // main orange  #521646;
$secondary: #fff8e1;   // lighter accent #fcfe74;

$body-bg: $primary;
$body-color: $white;
$navbar-fg: $body-color;
$navbar-bg: $body-bg;
$link-color: $secondary;

$font-family-sans-serif: "Atkinson Hyperlegible Mono", sans-serif;

/*-- scss:rules --*/

h1, h2, h3, h4 {
    color: $secondary
}

.callout {
    border-left-color: $secondary !important;
}

.btn {
    border: 2pt solid $secondary;
}